body{
    margin: 0px;
    background-color: rgb(233, 153, 153);
}
table{
    background-color: #a9a9a9;
    margin: auto;
    cursor: pointer;
}

td{
    border: 1px solid;
}

.cell{
    background-color: lightgray;
    width: 20px;
    height: 20px;
    text-align: center;
    
}
.cell:hover {
    background-color: rgb(255, 0, 0);
}

.cellclicked{
    background-color: darkgray;
    width: 20px;
    height: 20px;
    text-align: center;
}

.board{
    margin: auto;
    margin-top: 20px;
}

.buttons{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 145px;
}

.foter{
    background-color: rgb(185, 90, 90);
    position: absolute;
    bottom:0px;
    width: 100%;
    height:50px;
}
